*{
    margin:0;
    padding:0;      
    text-decoration: none;
}

/*<-------------------------------------------------------------------------------NAVBAR-MAIN!!!!---------------------------------------------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >*/
#LOGO{
    height:50px;
    width:50px;
}
#NAVBAR-MAIN,#NAVBAR-R,#NAVBAR-L{
    list-style-type:none;
    display:flex;
    flex-wrap: wrap;
    height:60px;
    font-size:20px ;
    color:black;
    background-color: #f6f6f6;
}
#NAVBAR-R{  
    position:relative;
    margin-left:auto;
}
#NAVBAR-L{  
    margin-left:auto;
}   
.li{
    font-family: 'Courier New', Courier, monospace;
    margin:19px 5vw 0px 0vw;
    cursor:pointer;
    transition:ease-in 5ms;
    position:relative;
    font-weight:bold;
    letter-spacing: -1px;
}
.li::after{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background-color: red;
    transform:scale(0);
    transform-origin:right;
    transition:transform ease-in 275ms;
    font-family: 'Courier New', Courier, monospace;
    font-weight:500;
}
.li:hover::after{
    box-shadow: 5px 10px 10px black;
    transform:scale(1);
    transform-origin:left;
}
#LOGO-IMG{
    width: 160px;
    height: inherit;
    margin:0px 15px 0px 15px;
}
#NAVBAR-MAIN{
    box-shadow: 0px 2px 10px black;
    width:100%;
} 
a{
    text-decoration: none;
}


/*<----------------------------------------------------------------------------MAIN BODY!!!----------------------------------------------------------------------------------- >*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >*/
/*BACKGROUND*/
body{
    background-image: url("../IMAGES/INDEX/BG\ repeat.jpg");
    margin-bottom: 10rem;

}
/* MAIN PAGE ARTICLE */
#MAIN-PAGE{
    overflow-x: hidden;
    overflow-y:hidden;
    position:absolute;
    background-color: #f6f6f6;
    min-width: 500px;
    margin:5rem 10rem 10rem 10rem;
    border:dashed 10px red;
    background-color: #FFD020;
    border-radius: 4px;
    box-shadow: 5px 10px 10px black;    
    margin-bottom: 10rem;
    position:relative;
}

#MAIN-BODY-BG-IMG1{
    width:640px;
    height:360px;
    display: block;
    margin: 3rem auto 3rem auto;
    border: solid 5px red;
}
.TEXT{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight:bolder;
    text-align: center;
    margin:0 2rem 0 2rem;
}
#one-piece{
    padding:0;
    margin:30px 0 10px 0;
    border-bottom:solid 3px black;
    border-top:solid 3px black;
}
/*EOF*/


