*{
    margin:0;
    padding:0;      
    text-decoration: none;
}
ul{
    text-decoration: none;
}
/*<-------------------------------------------------------------------------------NAVBAR-MAIN!!!!---------------------------------------------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >*/
#LOGO{
    height:50px;
    width:50px;
}
#NAVBAR-MAIN,#NAVBAR-R,#NAVBAR-L{
    list-style-type:none;
    display:flex;
    flex-wrap: wrap;
    height:60px;
    font-size:20px ;
    color:black;
    background-color: #f6f6f6;
}
#NAVBAR-R{  
    position:relative;
    margin-left:auto;
}
#NAVBAR-L{  
    margin-left:auto;
}   
.li{
    font-family: 'Courier New', Courier, monospace;
    margin:19px 5vw 0px 0vw;
    cursor:pointer;
    transition:ease-in 5ms;
    position:relative;
    font-weight:bold;
    letter-spacing: -1px;
}
.li::after{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background-color: red;
    transform:scale(0);
    transform-origin:right;
    transition:transform ease-in 275ms;
    font-family: 'Courier New', Courier, monospace;
    font-weight:500;
}
.li:hover::after{
    box-shadow: 5px 10px 10px black;
    transform:scale(1);
    transform-origin:left;
}
#LOGO-IMG{
    width: 160px;
    height: inherit;
    margin:0px 15px 0px 15px;
}
#NAVBAR-MAIN{
    box-shadow: 0px 2px 10px black;
    width:100%;
} 
a{
    text-decoration: none;
}


/*<----------------------------------------------------------------------------MAIN BODY!!!----------------------------------------------------------------------------------- >*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >*/
/*BACKGROUND*/
body{
    background-image: url("../IMAGES/INDEX/BG\ repeat.jpg");
    margin-bottom: 10rem;

}
.ARTICLE{

    display:flex;
    flex-direction: row;
    background-color: #f6f6f6;
    min-width: 500px;
    margin:5rem 5rem 10rem 5rem;
    border:dashed 10px red;
    background-color: #FFD020;
    border-radius: 4px;
    box-shadow: 5px 10px 10px black;    
    margin-bottom: 10rem;
}
.TEXT{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight:bolder;
    margin: 3rem 2rem 1rem 1rem;
    text-align: left;
}


#ARTICLE-IMG {
    max-width:200px;
    max-height:750px;
    display: block;
    margin: 3rem 1rem 3rem 3rem;
    box-sizing: border-box;
    border: solid 5px red;
    background-color: #000;
    object-fit: cover;
    float:left; 
}

